<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Lyra</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="background"></div>
	<% var settings = true; %>
	<% include templates/top %>

	<div class="main">
		<canvas id="canvas"></canvas>
		<% include templates/songs %>
		<% include templates/top-menu %>
		<% include templates/menu %>
		<% include templates/player %>
		<% include templates/right-menu %>

		<% include templates/settings %>

		<div class="context-menu"></div>
		<div class="tip"><div>Some tip</div></div>

		<% include templates/win %>

		<div id="audio-dropArea"></div>
	</div>
	
	<% include templates/error %>

	<audio id="audio"></audio>

	<script src="../js/functions.js"></script>
	<script src="../js/requirements.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>