<div class="menu">
	<div class="album"></div>

	<div class="artist">invisible</div>
	<div class="title">invisible</div>

	<div class="controls">
		<div class="icon-wrap" id="repeat"><% include ../svg/repeat %></div>
		<div id="prev-song"><% include ../svg/arrows %></div>
		<div id="play-pause">
			<% include ../svg/play %> 
			<% include ../svg/pause %> 
		</div>
		<div class="backwards" id="next-song"><% include ../svg/arrows %></div>
		<div class="icon-wrap" id="shuffle"><% include ../svg/shuffle %></div>
	</div>
	
	<div class="sound">
		<div class="volume">
			<div class="right" id="volume-icon"><% include ../svg/volume %></div>
		</div>
		<div class="progress" id="sound-progress">
			<div class="line" id="sound-line"></div>
		</div>
		<div class="value">
			<div class="left" id="sound-value">100%</div>
		</div>
	</div>
</div>