<div class="player">
	<!-- <canvas id="canvas"></canvas> -->
	<div class="info">
		<div class="time" id="time-current"></div>
		<div class="title"></div>
		<div class="time" id="time-end"><p class="right"></p></div>
	</div>

	<div class="bottom">
		<div class="progress" id="player-progress">
			<div class="line" id="player-line"></div>
		</div>
	</div>
</div>