<div class="settings">
	<div class="S-top">
		<% var ID = 'close-settings'; %>
		<% include ../svg/close %>
	</div>
	<ul class="navigation">
		<li class="item activeC" id="S-common"><h5>Общие</h5>
		<li class="item" id="S-audio"><h5>Аудио</h5>
		<li class="item" id="S-audio"><h5>Горячие клавиши</h5>
		<li class="item" id="S-customization"><h5>Кастомизация</h5>
		<li class="item" id="S-about"><h5>О программе</h5>
	</ul>

	<div class="dividing-line"></div>

	<div class="section" id="sec-common">
		<% include settings/common %>

		<div class="scroll-parent" id="settings-scroll">
			<div class="scroll" id="settings-scroller"></div>
		</div>
	</div>
	<div class="bottom">
		<div class="button green-BG" id="save-settings">Сохранить</div>
		<div class="button red-BG" id="S-cancel">Отмена</div>
	</div>
	
</div>