<div class="songs" id="songs">
	<div class="empty"><p>Бросьте сюда вашу музыку</p></div>
	<div class="wrapper" id="songs-wrap"></div>
	<div class="scroll-parent" id="songs-scroll">
		<div class="scroll" id="songs-scroller"></div>
	</div>
</div>