<div class="top-menu">
	<div class="songsStuff">
		<div class="search">
			<input id="search-box" type="text" placeholder="Поиск">
		</div>

		<div class="addSongs">
			<div class="pickAll with-tip" data="Выбрать все"></div>
			<div id="push-songs" class="button green-BG">Добавить</div>
			<div class="cancel button red-BG">Отмена</div>
		</div>
	</div>
	<div class="stats">
		<ul>
			<li id="songs-num">
			<li id="vk-stuff"><div class="right">
				<% include ../svg/downloads %>
				<% include ../svg/refresh %>
				<% include ../svg/bin %>
				<% /* include ../svg/notification */ %>
			</div>
		</ul>
	</div>
</div>