<div class="top">
<div class="name">Lyra</div>

	<% if (settings) { %>
	<div class="left">
			<!-- <span class="icon" id="main-settings"></span> -->
			<% include ../svg/settings %>
	</div>
	<% } %>

	<div class="right">
		<% include ../svg/line %>
		<% include ../svg/resize %>
		<% var ID = 'close-Lyra'; %>
		<% include ../svg/close %>
	</div>
</div>