<div class="top">

	<% if (settings) { %>
	<div class="left">
			<% include ../svg/logout %>
			<% include ../svg/settings %>
	</div>
	<% } %>

	<div class="name">Lyra</div>

	<div class="right">
		<% include ../svg/line %>
		<% include ../svg/resize %>
		<% var ID = 'close-Lyra'; %>
		<% include ../svg/close %>
	</div>
</div>