<div class="win">
	<div class="content">
		<div class="content-top">
			<% var ID = 'close-win'; %>
			<div class="right"><% include ../svg/close %></div>
		</div>
		<div class="bot">
			<div class="editable">
				<div class="wrapper" id="win-wrap">
					<h4 class="title">Прикрепление папок</h4>
				</div>
			</div>
			<div class="scroll-parent" id="win-scroll"><div class="scroll" id="win-scroller"></div></div>
		</div>
	</div>
</div>