* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	-webkit-padding-start: 0;
	@extend .interface;
}
html, body, .main{
	width: 100vw;
	height: 100vh;
}
body { background: #eee; }

.right       { float: right; }
.left        { float: left; }
.backwards * { transform: rotate(180deg); }
.no-select   { -webkit-user-select: none !important; }
.select      { -webkit-user-select: text; }
.center      { text-align: center; }

.activeC-low { color: $active-low;     }
.activeC     { color: $active;         }
.red-BG         { background: $active-low; }
.red-BG:hover   { background: $active;     }
.green-BG 			{ background: $green-low;  }
.green-BG:hover { background: $green;      }

input {
	padding: 5px;
	cursor: text;
	@extend .font;
}

//Radios and checks
.radio-check   { 
	border-radius: 100%;
	justify-content: center;
	@extend .flex-center;
}
.item:hover .check, .item:hover .radio-check { border-color: $active;     }
.item.checked .radio-check .checker          { display: block;            }
.item.checked .check { background-image: url('../img/png-jpg/check.png'); }
.checker {
	@include sq(6px);
	border-radius: 100%;
	background: $active-low;
	display: none;
}

//Scroll stuff
.wrapper {
	width: calc(100% - 10px);
	height: 100%;
	overflow-y: scroll;
	padding-right: 285px;
}
.scroll-parent, .scroll {
	position: absolute;
	top: 0;
}
.scroll-parent {
	right: 0;
	width: 10px;
	// height: 100%;
	background: #eee;
}
.scroll {
	right: 1px;
	width: 8px;
	height: 80px;
	background: $black;
	opacity: 0.5;
}
.scroll:hover  { opacity: 1; }
.scroll:active { opacity: 1; }

.icon {
	@include sq(32px);
	background-size: cover;
}

svg:hover {
	fill: $active-low;
	stroke: $active-low;
}
svg:active {
	fill: $active;
	stroke: $active;
}

.background {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: -1;
}

li { display: inline-block !important; }

//Text
h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	text-align: center;
	margin: 0;
	@extend .font;
}
h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }
p  { @extend .font;   }

.inline { display: inline-block; }

.tip, .context-menu {
	position: fixed;
	z-index: 3228;
	padding: 3px;
	display: none;
	background: $white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: $black;
	@extend .font;

	div { display: inline; }
}
.context-menu {
	flex-direction: column;
	div:not(.inactive):hover { color: $active-low; }
	.inactive { color: $inactive-C; }
}


.dividing-line {
	width: 100%;
	height: 1px;
	background: rgba(0, 0, 0, 0.2);
	margin: 5px 0;
}
.align      { display: flex;           }
.vertical   { align-items: center;     }
.horizontal { justify-content: center; }

.container {
	padding: 5px;
	display: none;
}

//Total crap
.progress, .line, .loaded {
	height: 6px;
	border-radius: 5px;
}
.progress   { background: rgba(255, 255, 255, 0.2);  }
.loaded     { background: rgba(255, 255, 255, 0.35); }
.line       { background: rgba(255, 255, 255, 0.8);  }
.line:hover { background: #fff; 										 }

.menu, .right-menu, .top-menu, .songs {
	position: absolute;
	top: 0;
}
.menu       { z-index: 20; }
.right-menu { z-index: 10; }

::-webkit-scrollbar { display: none; }