.right-menu {
	width: $right-menu;
	height: calc(100vh - #{$topH} - #{$playerH});
	right: 0;
	@extend .mrWhite;

	.h-wrap {
		width: 100%;
		height: 30px;
		justify-content: center;
	}
	.check, .radio-check { @extend .standart-checks; }

	.container {
		width: $right-menu - 12px;
		right: 0;
		top: 30px;
		position: absolute;
		background: $white;
		border: 1px solid rgba(0, 0, 0, 0.2);

		.item {
			width: 100%;
			@extend .flex-center;
		}
	}
	.choose  { @extend .font; }
	.search, .playlists { width: 100%; }
	.search {
		height: $top-menuH - 2px;

		h6.active:hover {
			color: $active;
			fill: $active;

		}
		.icon {
			@include sq(10px);
		}
	}

	.info {
		width: 100%;
		height: $top-menuH - 32px;
	}

	.playlists {
		height: calc(100% - #{$top-menuH} + 2px);

		h5 {
			margin-bottom: 5px;
		}
	}
	.playlist { @extend .usual-button; }

	.waiting {
		position: absolute;
		width: 100%;
		height: calc(100% - #{$top-menuH} + 2px);
		background: rgba(255, 255, 255, 0.8);
		top: $top-menuH - 2px;
		display: none;
	}
	.waiting.on { display: block; }
}

#search-parameters-shower { display: none; }