$S-topH: 16px;
$S-navH: 32px;
$S-bottomH: 50px;
.settings {
	$nav-items: 4;
	position: fixed;
	z-index: 90;
	width: 100%;
	height: calc(100% - #{$topH});
	top: $topH;
	background: $white;
	padding: 10px;
	display: none;

	.photo { @extend .bg-center; }

	.navigation {
		height: $S-navH;

		.item 		  { @extend .la-button; }
		.item:hover { color: $active-low; }
	}

	.section {
		width: calc(100% - 20px);
		height: calc(100% - #{$S-topH} - #{$S-navH} - #{$S-bottomH});
		padding: 10px;
		overflow: hidden;
		position: absolute;
	}
	.wrap {
		@include sq(100%);
		overflow-y: auto;
		h5, h6 {
			text-align: left;
			margin: 5px 0; 
		}
	}
	.scroll-parent { height: 100%; }

	.bottom {
		width:  100%;
		height: $S-bottomH;
		position: absolute;
		bottom: 0;
		left: 0;
		padding-left: 10px;
		@extend .flex-center;

		.button { margin-left: 10px; }
	}
	.button { @extend .la-button;   }
	.item   { @extend .flex-center; }
	.check, .radio-check { @extend .standart-checks; }

	.align     { margin-bottom: 5px; }
	#vk-status { height: 50px;       }
	.icon      { @include sq(18px);  }
	.path {
		width: 450px;
		color: $black;
	}
	.block {
		display: flex;
		align-items: flex-top;
		margin: 5px 0;

		h1, h2, h3, h4, h5, h6 {
			text-align: left;
			margin: 0;
		}

		.button {
			display: inline-block;
			margin: 0;
		}

		.right {
			margin-left: 5px;
			flex-grow: 1;
		}
	}
}

.S-top {
	width: 100%;
	height: $S-topH;
}
#close-settings {
	@include sq($S-topH);
	float: right;
}
.settings, .settings .section, .settings .bottom {
	box-sizing: border-box;
}