$song-h: 22px;
canvas, .songs {
	position: absolute;
	transition: opacity 0.2s ease;
}
canvas {
	width: calc(100vw - 20px - (#{$menuWidth} + #{$right-menu}));
	height: calc(100vh - #{$topH} - #{$playerH});
	left: $menuWidth + 20px;
	opacity: 0.1;
}
.songs, #audio-dropArea {
	position: absolute;
	width: calc(100vw - 20px - (#{$menuWidth} + #{$right-menu}));
	height: calc(100vh - #{$topH} - #{$playerH} - #{$top-menuH});
	left: $menuWidth + 20px;
	top: $top-menuH;
}


.songs {
	overflow: hidden;
	color: $black;
	@extend .mrWhite;

	ul { @include sq(100%); }
	
	.song {
		height: $song-h + 10px;
		p {
			height: $song-h;
			line-height: $song-h;
		}
	}

	.song:hover {
		@extend .mrPale;

		.duration  {
			p       			   { display: none; 																     }
			.add    			   { @include img('../img/png-jpg/add.png');             }
			.delete 			   { @include img('../img/png-jpg/delete.png');          }
			.delete:hover    { @include img('../img/png-jpg/delete-active.png');   }
			.add:hover       { @include img('../img/png-jpg/add-active.png');      }
			.lyrics.inactive { @include img('../img/png-jpg/lyrics-inactive.png'); }
			.lyrics:not(.inactive) 			   		{ @include img('../img/png-jpg/lyrics.png');          	}
			.lyrics:not(.inactive):hover   		{ @include img('../img/png-jpg/lyrics-active.png');   	}
			.download.in-progress        		  { @include img('../img/png-jpg/download-inactive.png'); }
			.download:not(.in-progress)       { @include img('../img/png-jpg/download.png');          }
			.download:not(.in-progress):hover { @include img('../img/png-jpg/download-active.png');   }
		}
	}

	.added       { background: rgba(0, 255, 0, 0.1);  }
	.added:hover { background: rgba(0, 255, 0, 0.15); }
	.removed     { opacity: 0.3; }

	li {
		height: $song-h;
		padding: 5px;
		line-height: $song-h;
		display: none !important;
		@extend .ellipsis;
		@extend .font;
		@extend .interface;
	}
	
	.check { 
		width: 0; 
		padding: 0;
		border: none;
	}
	.title, .artist { width: calc(50% - 45px); }
	.duration {
		width: 60px;
		text-align: right;

		.delete, .add, .download { background-size: 14px; }
		ul, li  { padding: 0;				 }
		// ul      { @include sq(100%); }
		.icon   { 
			margin-top: 2px;
			@include sq(18px);
			@extend .bg-center;
		}
	}

	.empty {
		@extend .font;
		width: 100%;
		height: 30px;
		position: absolute;
		top: 45%;
		
		p {
			font-size: 24px;
			text-align: center;
			color: #aaa;
		}
	}

	.active { .check { background-image: url('../img/png-jpg/check.png'); } }
	.pick {
		.check {
			@include sq(16px);
			padding: 5px;
			border: 1px solid rgba(0, 0, 0, 0.05);
			margin-left: 5px;
			@include bgSize(14px);
		}
		.title, .artist { width: calc(50% - 62px); }
	}
	.pick.no-artist {
		.title { width: calc(100% - 116px); }
	}
}
.no-artist .title { width: calc(100% - 80px); }

.visiable li {
	display: inline-block !important;
}
#audio-dropArea {
	background: none;
	display: none;
}
#songs-scroll { height: 100%; }