.top-menu {
	position: absolute;
	width: calc(100vw - 20px - (#{$menuWidth} + #{$right-menu}));
	height: $top-menuH;
	left: $menuWidth + 20px;
	@extend .mrWhite;

	.songsStuff {
		width: 100%;
		height: 68px;
	}
	input {
		width: calc(100% - 20px);
		margin-left: 10px;
		height: 20px;
		background: #eee;
	}
	input:focus {
		outline: 1px solid $green-low;
	}

	.button { @extend .la-button; }
	.addSongs {
		display: none;
		height: $top-menuH - 27px - 30px;
		align-items: flex-end;
	}
	.pickAll {
		@include sq(24px);
		margin: 0 5px;
		border: 2px dashed $black;
		background: rgba(0,0,0, 0);
		display: inline-block;
	}
	.pickAll:hover {
		border: 2px dashed $active-low;
	}

	.stats {
		position: absolute;
		width: calc(100% - 11px);
		height: 25px;
		bottom: 0;
		border-bottom: 2px solid #BEBEBE;
		padding: 0 5px;
		@extend .font;
	}
	ul {
		height: 100%;
		@extend .flex-center;
	}

	#vk-stuff {
		flex-grow: 1;

		div {
			display: inline-block;
		}
	}

	.icon, svg {
		@include sq(22px);
	}

	svg:hover  { fill: $active-low; }
	svg:active { fill: $active; }
}

#search-box { display: none; }