$win-top-h: 20px;
.win {
	position: fixed;
	height: calc(100vh - #{$topH});
	width: 100vw;
	top: $topH;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1001;

	.content-top {
		width: 100%;
		height: $win-top-h;
	}
	h4  { margin-bottom: 10px; }
	pre { 
		text-align: left;
		@extend .font; 
	}

	.content {
		width: 50vw;
		max-height: 80vh;
		padding: 5px;
		background: $white;
		text-align: center;
	}
	.bot { 
		display: flex; 
		width: 100%;
	}
	.editable {
		max-height: calc(80vh - #{$win-top-h});
		width: 100%;
		overflow: hidden;
	}
	.wrapper { max-height: calc(80vh - #{$win-top-h}); }
	// .error, pre { -webkit-user-select: text; }
	.button {
		margin: 5px;
		display: inline-block;
		padding: 5px;
		@extend .font;
	}
	.button.usual {
		margin: 0;
		@extend .usual-button;
	}
	.button.active:hover { color: $active; }
	.icon { @include sq($win-top-h); }
	.field {
		width: calc(100% - 14px);
		border: 2px dashed #bbb;
		padding: 20px 5px;
		margin: 10px 0;
		@extend .flex-center;
		justify-content: center;
	}
}

#win-scroll {
	position: relative;
	max-height: calc(80vh - #{$win-top-h});
}
#win-scroller {
	position: relative;
	right: 0;
}